.book-object-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--book-object-bg);
    border-radius: 15px;
    margin-top: 32px;
    min-width: 362px;
}

.book-object-title-container {
    padding: 16px;
}

.book-object-img-container {
    width: 100%;
    border-top: 4px solid var(--book-object-separator-color);
    display: flex;
    justify-content: center;
    background-image: var(--book-object-radial--gradient);
}

.book-object-img {
    width: 128px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.book-object-description-container {
    width: 100%;
}

.book-object-price-and-like-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 4px solid var(--book-object-separator-color);
    padding: 16px;
}

#book-object-price-span {
    color: var(--standard-orange);
    font-weight: 600;
}

.book-object-like-container {
    display: flex;
}

#book-object-like-btn {
    background-color: var(--book-object-bg);
    border: 0;
}

#book-object-like-btn-img {
    width: 16px;
    height: auto;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    background-color: var(--book-object-bg);
}

.book-object-description-details-container {
    padding-left: 16px;
    padding-bottom: 16px;
    font-size: 12px;
}
