.book-object-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--book-object-bg);
    border-radius: 15px;
    margin-top: 32px;
    /* margin-bottom: 32px; */
    min-width: 362px;
    max-width: 362px;
}

.book-object-section {
    width: 100%;
    display: flex;
    border-top: 4px solid var(--book-object-separator-color);
    padding: 16px;
}

.book-object-title-container {
    padding: 16px;
}

.book-object-img-container {
    justify-content: center;
    background-image: var(--book-object-radial--gradient);
}

.book-object-img {
    width: 128px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.book-object-description-container {
    width: 100%;
}

.book-object-price-and-like-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 4px solid var(--book-object-separator-color);
    padding: 16px;
}

#book-object-price-span {
    color: var(--standard-orange);
    font-weight: 600;
}

.book-object-like-container {
    display: flex;
}

.book-object-like-btn-class {
    cursor: pointer;
    background-color: var(--book-object-bg);
    border: 0;
}

.book-object-like-btn-class img {
    width: 16px;
    height: auto;
    object-fit: contain;
    object-position: center;
    aspect-ratio: 1/1;
    background-color: var(--book-object-bg);
}

.liked {
    content: url("../img/icons/heart.png");
}

.book-object-description-details-container {
    padding-left: 16px;
    padding-bottom: 16px;
    font-size: 12px;
}

.book-object-commentary-container {
    flex-direction: column;
}

.book-object-table-container table {
    width: 100%;
    font-size: 12px;
    border-spacing: 0 8px;
    margin-top: 8px;
}

.book-object-table-container table tbody {
    display: block;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.book-object-table-container table td {
    vertical-align: top;
}

.book-object-table-container table td:nth-child(odd) {
    width: 160px;
}

.book-object-user-comment-input-class {
    width: 90%;
    border: 0;
    padding: 6px;
    border-bottom: 2px solid var(--input-border-color);
    color: var(--input-text-color);
    background-color: var(--book-object-accent);
}

.book-object-comment-input-and-button-container {
    display: flex;
}

.book-object-send-message-btn-class {
    background-color: var(--book-object-bg);
    border: 0;
    cursor: pointer;
}

.book-object-message-btn-img-class {
    width: 32px;
    height: auto;
    object-fit: cover;
    object-position: center;
}
