@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    color: var(--standard-text-color);
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: raleway, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}
