header {
    background-color: var(--header-and-footer-bg);
}

main {
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
    min-height: 100vh;
}

footer {
    background-color: var(--header-and-footer-bg);
    margin: 0 auto;
}

.header-and-footer-container {
    display: flex;
    align-items: center;
    padding: 16px;
}

.header-and-footer-img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
}

.header-and-footer-color-headline {
    color: var(--standard-orange);
}

.header-and-footer-headline-container {
    margin-right: 5px;
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
    background-color: var(--header-and-footer-bg);
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--scrollbar-color);
}

::placeholder {
    color: var(--input-text-color);
}
